h1 {
    text-align: center;
    font-size: 2.5em;
}

.Intro {
    text-align: center;
    font-size: 1.5em;
    margin-top: 10em
}

.Projects {
    text-align: center;
    font-size: 2em;
    margin-top: 6.5em;
}

.DownArrow {
    text-align: center;
    font-size: 0.8em;
    margin-top: 15em;
}

.UpArrow {
    text-align: center;
    font-size: 0.8em;
    margin-top: 15em;
}

.Rotate {
    transform: rotate(180deg);
}

img {
    width:2em; 
    height:2em;
}