h1 {
    text-align: center;
    font-size: 2.5em;
}

h3 {
    text-align: center;
    font-size: 1.5em;
}

.Intro {
    text-align: center;
    font-size: 1.5em;
    margin-top: 10em
}

.Projects {
    text-align: center;
    font-size: 2em;
    margin-top: 6.5em;
}

.DownArrow {
    text-align: center;
    font-size: 0.8em;
    margin-top: 15em;
}

.UpArrow {
    text-align: center;
    font-size: 0.8em;
    margin-top: 15em;
}

.Rotate {
    transform: rotate(180deg);
}

.Contacts {
    position: absolute; 
    top: 0px; 
    right: 0px;
}

.Project1 {
    text-align: center;
    margin-left: 10em;
    margin-right: 45em;
    border: 0.2em solid;
}

.FlightImage {
    width:15em; 
    height:10em;
}

.githubimage {
    width:3em; 
    height:3em;
}

.ScrollUpDown {
    width:3em; 
    height:3em;
}